name: prometheus-remotewrite
serviceType: managed

mimir:
  enabled: false
  # used by renovate
  # repo: gsoci.azurecr.io/giantswarm/prometheus
  prometheusVersion: "v2.50.1"

remoteWrite:
  grafanaCloud:
    url: ""
    username: ""
    apiKey: ""
    insecureSkipVerify: false
