name: prometheus-remotewrite
serviceType: managed

tracing:
  enabled: false
  clientType: grpc
  endpoint: otlp-gateway.kube-system.svc.cluster.local:4317
  insecure: true
  # 1 means we send all traces (no sampling)
  samplingFraction: 1
  tenant: "giantswarm"

remoteWrite:
  mimir:
    prometheus:
      priorityClassName: prometheus
      resources:
        limits:
          cpu: 150m
          memory: "1610612736"
        requests:
          cpu: 100m
          memory: "1610612736"
      # used by renovate
      # registry: gsoci.azurecr.io/giantswarm/prometheus
      version: "v3.7.2"
      vpa:
        maxAllowed:
          cpu: 2
          memory: 5Gi
        minAllowed:
          cpu: 200m
          memory: 1Gi
    pushUrl: http://mimir-gateway.mimir.svc/api/v1/push
    readUrl: http://mimir-gateway.mimir.svc/prometheus/api/v1/read
    tenant: "anonymous"
  grafanaCloud:
    url: ""
    username: ""
    apiKey: ""
    insecureSkipVerify: false
    metricsSelector: (^aggregation:.+|prometheus_tsdb_head_series|prometheus_tsdb_head_samples_appended_total)
    externalLabels:
      # Add your external labels here
      installation: ""
      customer: ""

kubePrometheusStack:
  enabled: false
