name: prometheus-remotewrite
serviceType: managed

project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"

image:
  registry: quay.io
  name: giantswarm/prometheus-remotewrite
  tag: v0.0.1
  pullPolicy: IfNotPresent
