name: prometheus-remotewrite
serviceType: managed

remoteWrite:
  mimir:
    enabled: false
    prometheus:
      resources:
        limits:
          cpu: 150m
          memory: "1610612736"
        requests:
          cpu: 100m
          memory: "1610612736"
      # used by renovate
      # repo: gsoci.azurecr.io/giantswarm/prometheus
      version: "v2.54.1"
      vpa:
        maxAllowed:
          cpu: 2
          memory: 5Gi
        minAllowed:
          cpu: 200m
          memory: 1Gi
    pushUrl: http://mimir-gateway.mimir.svc/api/v1/push
    readUrl: http://mimir-gateway.mimir.svc/prometheus/api/v1/read
  grafanaCloud:
    url: ""
    username: ""
    apiKey: ""
    insecureSkipVerify: false
    metricsSelector: (^aggregation:.+|prometheus_tsdb_head_series|prometheus_tsdb_head_samples_appended_total|slo_target|slo_burnrate_high|slo_burnrate_low|slo_requests|slo_errors|slo_errors_per_request:ratio_rate5m|slo_threshold_high|slo_threshold_low)
