apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: grafana-cloud
  namespace: mimir
data:
  password: {{ .Values.remoteWrite.grafanaCloud.apiKey | b64enc }}
  username: {{ .Values.remoteWrite.grafanaCloud.username | b64enc }}
type: Opaque
