apiVersion: v1
kind: Secret
metadata:
  name: grafana-cloud
  namespace: {{ include "namespace" . }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
data:
  username: 10755
  username: {{ .Values.remoteWrite.grafanaCloud.username }}
  password: {{ .Values.remoteWrite.grafanaCloud.password }}
