apiVersion: monitoring.giantswarm.io/v1alpha1
kind: RemoteWrite
metadata:
  name: grafana-cloud
  namespace: {{ include "namespace" . }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  clusterSelector: {}
  remoteWrite:
    name: grafana-cloud
    url: {{ .Values.remoteWrite.grafanaCloud.url }}
    basicAuth:
      username:
        key: username
        name: grafana-cloud
      password:
        key: password
        name: grafana-cloud
    tlsConfig:
      insecureSkipVerify: {{ .Values.remoteWrite.grafanaCloud.insecureSkipVerify }}
    queueConfig:
      capacity: 10000
      maxSamplesPerSend: 1000
      minShards: 10
    writeRelabelConfigs:
      - action: keep
        regex: (^aggregation:.+|prometheus_tsdb_head_series|prometheus_tsdb_head_samples_appended_total|^slo_.+)
        sourceLabels:
          - __name__
  secrets:
    - name: grafana-cloud
      data:
        username: {{ .Values.remoteWrite.grafanaCloud.username | b64enc }}
        password: {{ .Values.remoteWrite.grafanaCloud.apiKey | b64enc }}
