{{- if not .Values.remoteWrite.mimir.enabled }}
apiVersion: monitoring.giantswarm.io/v1alpha1
kind: RemoteWrite
metadata:
  name: grafana-cloud
  namespace: monitoring
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  # We select all Prometheus on the management cluster. We do not select prometheus-agents (configured in PMO).
  clusterSelector: {}
  remoteWrite:
    name: grafana-cloud
    url: {{ .Values.remoteWrite.grafanaCloud.url }}
    basicAuth:
      username:
        key: username
        name: grafana-cloud
      password:
        key: password
        name: grafana-cloud
    tlsConfig:
      insecureSkipVerify: {{ .Values.remoteWrite.grafanaCloud.insecureSkipVerify }}
    queueConfig:
      capacity: 10000
      maxSamplesPerSend: 1000
      minShards: 10
    writeRelabelConfigs:
      - action: keep
        regex: {{ .Values.remoteWrite.grafanaCloud.metricsSelector }}
        sourceLabels:
          - __name__
  secrets:
    - name: grafana-cloud
      data:
        username: {{ .Values.remoteWrite.grafanaCloud.username | b64enc }}
        password: {{ .Values.remoteWrite.grafanaCloud.apiKey | b64enc }}
{{- end -}}
